# MACHINE LEARNING LAB(CSE-336L)
                                                                                             M.NAGACHARITAVYA
                                                                                               AP21110010027
                                                                                                  CSE-A

# Introduction to NumPy

#### NumPy is a Python library that handles numerical computation. It supports large, multidimensional arrays and matrices, as well as mathematical functions that can be applied to them. The efficiency and versatility of NumPy make it popular in scientific computing, data analysis, and machine learning.

### 1. Write a NumPy program to multiply two given arrays of same size element-by-element.

In [1]:
import numpy as np

array1 = np.array([2, 4, 6, 8, 10])
array2 = np.array([1, 3, 5, 7, 9])

result_array = np.multiply(array1, array2)

print("Array 1:", array1)
print("Array 2:", array2)
print("Resultant Array (Element-wise multiplication):", result_array)

Array 1: [ 2  4  6  8 10]
Array 2: [1 3 5 7 9]
Resultant Array (Element-wise multiplication): [ 2 12 30 56 90]

### 2. Write a NumPy program to find the missing data in a given array.

In [2]:
import numpy as np

array_with_missing_data = np.array([[1, 2, 3],
                                    [4, np.nan, 6],
                                    [7, 8, np.nan]])

missing_data_indices = np.isnan(array_with_missing_data)

print("Original 2D Array:")
print(array_with_missing_data)
print("\nIndices of Missing Data:")
print(missing_data_indices)

Original 2D Array:
[[ 1.  2.  3.]
 [ 4. nan  6.]
 [ 7.  8. nan]]

Indices of Missing Data:
[[False False False]
 [False  True False]
 [False False  True]]

### 3. Write a NumPy program to test whether each element of a 1-D array is also present in a second array.

In [3]:
import numpy as np

array1 = np.array([10, 20, 30, 40, 50])
array2 = np.array([30, 40, 50, 60, 70])

result = np.isin(array1, array2)

print("Array 1:", array1)
print("Array 2:", array2)
print("Result (Is each element of array1 present in array2):", result)

Array 1: [10 20 30 40 50]
Array 2: [30 40 50 60 70]
Result (Is each element of array1 present in array2): [False False  True  True  True]

### 4. Write a NumPy program to save a NumPy array to a text file.

In [4]:
import numpy as np

another_array = np.array([[0.1, 0.2, 0.3],
                          [0.4, 0.5, 0.6],
                          [0.7, 0.8, 0.9]])

another_filename = 'output_another_array.txt'

np.savetxt(another_filename, another_array, fmt='%.2f', delimiter='\t')

print(f"Another NumPy array has been saved to {another_filename}.")

Another NumPy array has been saved to output_another_array.txt.

### 5. Write a NumPy program to Create a 1-D array of 30 evenly spaced elements between 2.5. and 6.5, inclusive.

In [5]:
import numpy as np

result_array = np.linspace(2.5, 6.5, 30)

print("1-D Array of 30 evenly spaced elements between 2.5 and 6.5 (inclusive):")
print(result_array)

1-D Array of 30 evenly spaced elements between 2.5 and 6.5 (inclusive):
[2.5        2.63793103 2.77586207 2.9137931  3.05172414 3.18965517
 3.32758621 3.46551724 3.60344828 3.74137931 3.87931034 4.01724138
 4.15517241 4.29310345 4.43103448 4.56896552 4.70689655 4.84482759
 4.98275862 5.12068966 5.25862069 5.39655172 5.53448276 5.67241379
 5.81034483 5.94827586 6.0862069  6.22413793 6.36206897 6.5       ]

# Introduction to Pandas (Series and Dataframes)

#### Pandas is a Python library designed for data manipulation and analysis. It includes data structures like DataFrame and Series, making it simple to work with structured data. Pandas is commonly used for cleaning, exploring, and transforming datasets. It supports operations such as filtering, grouping, and merging, and it is an essential tool in data science and analytics workflows.

### 1. Write a Pandas program to convert Series of lists to one Series.

In [6]:
import pandas as pd

data = pd.Series([
    ['apple', 'banana', 'orange'],
    [10, 20, 30, 40],
    ['dog', 'cat', 'bird']
])

flattened_series = data.apply(pd.Series).stack().reset_index(drop=True)

print(flattened_series)

0     apple
1    banana
2    orange
3        10
4        20
5        30
6      40.0
7       dog
8       cat
9      bird
dtype: object

### 2. Write a Pandas program to create a subset of a given series based on value andcondition.

In [7]:
import pandas as pd

data = pd.Series([10, 25, 30, 15, 20, 35, 40])

condition = data > 20

subset = data[condition]

print("Original Series:")
print(data)

print("\nSubset based on condition:")
print(subset)

Original Series:
0    10
1    25
2    30
3    15
4    20
5    35
6    40
dtype: int64

Subset based on condition:
1    25
2    30
5    35
6    40
dtype: int64

### 3. Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.

In [8]:
import pandas as pd

data = {'Category': ['C', 'D', 'C', 'S', 'A', 'C', 'D', 'C', 'C']}
original_series = pd.Series(data['Category'])

# Find the most frequent value
most_frequent_value = original_series.mode()[0]

# Replace everything else with 'Other'
modified_series = original_series.where(original_series == most_frequent_value, 'Other')

print("Original Series:")
print(original_series)

print("\nModified Series:")
print(modified_series)

Original Series:
0    C
1    D
2    C
3    S
4    A
5    C
6    D
7    C
8    C
dtype: object

Modified Series:
0        C
1    Other
2        C
3    Other
4    Other
5        C
6    Other
7        C
8        C
dtype: object

### 4. Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.

In [9]:
import pandas as pd

data = pd.Series([3, 10, 15, 8, 20, 25, 12, 7, 35])

positions = data.index[data % 5 == 0].tolist()

print("Original Series:")
print(data)

print("\nPositions of multiples of 5:")
print(positions)

Original Series:
0     3
1    10
2    15
3     8
4    20
5    25
6    12
7     7
8    35
dtype: int64

Positions of multiples of 5:
[1, 2, 4, 5, 8]

### 5. Write a Pandas program to calculate the number of characters in each word in a given series.

In [10]:
import pandas as pd

data = pd.Series(['Hello, world!', 'Python is awesome', 'Data science rocks', 'ML is too good'])

word_lengths = data.apply(lambda x: len(x.split()))

print("Original Series:")
print(data)

print("\nNumber of words in each phrase:")
print(word_lengths)

Original Series:
0         Hello, world!
1     Python is awesome
2    Data science rocks
3        ML is too good
dtype: object

Number of words in each phrase:
0    2
1    3
2    3
3    4
dtype: int64

### 6. Write a Pandas program to convert year-month string to dates adding a specified day of the month.

In [11]:
import pandas as pd

year_month_strings = pd.Series(['2023-06', '2023-07', '2023-08', '2023-09'])

specified_day = 5

converted_dates = pd.to_datetime(year_month_strings + '-' + str(specified_day), format='%Y-%m-%d')

print("Original Year-Month Strings:")
print(year_month_strings)

print("\nConverted Dates with Specified Day ({}):".format(specified_day))
print(converted_dates)

Original Year-Month Strings:
0    2023-06
1    2023-07
2    2023-08
3    2023-09
dtype: object

Converted Dates with Specified Day (5):
0   2023-06-05
1   2023-07-05
2   2023-08-05
3   2023-09-05
dtype: datetime64[ns]

### 7. Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.

In [12]:
import pandas as pd

data = {'Name': ['Cherry', 'Deepu', 'Sivani'],
        'Age': [19, 20, 18],
        'City': ['New York', 'London', 'Los Angeles']}

index_labels = ['Person_1', 'Person_2', 'Person_3']
df = pd.DataFrame(data, index=index_labels)

print(df)

            Name  Age         City
Person_1  Cherry   19     New York
Person_2   Deepu   20       London
Person_3  Sivani   18  Los Angeles

### 8. Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.

In [13]:
import pandas as pd

data = {'Student': ['Cherry', 'Bobby', 'Deepu', 'Sivani'],
        'Attempts': [1, 3, 4, 2],
        'Score': [95, 88, 92, 88]}

df = pd.DataFrame(data)

selected_rows = df[df['Attempts'] > 2]

print("Original DataFrame:")
print(df)

print("\nSelected Rows where Attempts > 2:")
print(selected_rows)

Original DataFrame:
  Student  Attempts  Score
0  Cherry         1     95
1   Bobby         3     88
2   Deepu         4     92
3  Sivani         2     88

Selected Rows where Attempts > 2:
  Student  Attempts  Score
1   Bobby         3     88
2   Deepu         4     92

### 9. Write a Pandas program to append a new row 'k'to data frame with given values for each column. Now delete the new row and return the original DataFrame.

In [14]:
import pandas as pd

data = {'Name': ['Cherry', 'Bobby', 'Deepu'],
        'Age': [19, 30, 20],
        'City': ['New York', 'London', 'Los Angeles']}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

# Append a new row 'k' with given values
new_row = pd.DataFrame({'Name': ['Sivani'], 'Age': [18], 'City': ['Wichitha kanas']}, index=['k'])
df = df.append(new_row)

# Display the DataFrame after appending the new row
print("\nDataFrame after appending the new row:")
print(df)

# Delete the new row 'k' and return the original DataFrame
df = df.drop('k')

# Display the original DataFrame after deleting the new row
print("\nOriginal DataFrame after deleting the new row:")
print(df)

Original DataFrame:
     Name  Age         City
0  Cherry   19     New York
1   Bobby   30       London
2   Deepu   20  Los Angeles

DataFrame after appending the new row:
     Name  Age            City
0  Cherry   19        New York
1   Bobby   30          London
2   Deepu   20     Los Angeles
k  Sivani   18  Wichitha kanas

Original DataFrame after deleting the new row:
     Name  Age         City
0  Cherry   19     New York
1   Bobby   30       London
2   Deepu   20  Los Angeles

C:\Users\dell\AppData\Local\Temp\ipykernel_13572\2627106639.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row)

### 10. Write a Pandas program to sort the DataFrame first by 'name' in descending order, then by 'score' in ascending order.

In [15]:
import pandas as pd

data = {'Name': ['Bobby', 'Deepu', 'Cherry', 'Sandeep', 'Sivani'],
        'Score': [75, 88, 92, 78, 80],
        'Age': [25, 30, 20, 22, 35]}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

# Sort the DataFrame first by 'Name' in descending order, then by 'Score' in ascending order
sorted_df = df.sort_values(by=['Name', 'Score'], ascending=[False, True])

print("\nSorted DataFrame:")
print(sorted_df)

Original DataFrame:
      Name  Score  Age
0    Bobby     75   25
1    Deepu     88   30
2   Cherry     92   20
3  Sandeep     78   22
4   Sivani     80   35

Sorted DataFrame:
      Name  Score  Age
4   Sivani     80   35
3  Sandeep     78   22
1    Deepu     88   30
2   Cherry     92   20
0    Bobby     75   25

### 11. Write a Pandas program to replace the 'qualify' column contains the values 'yes' and 'no' with True and False.

In [16]:
import pandas as pd

data = {'Name': ['Ammu', 'Bobby', 'Cherry', 'Deepu'],
        'Qualify': ['yes', 'no', 'yes', 'no'],
        'Age': [25, 30, 22, 28]}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

df['Qualify'] = df['Qualify'].replace({'yes': True, 'no': False})

print("\nDataFrame after replacing 'yes' and 'no' with True and False:")
print(df)

Original DataFrame:
     Name Qualify  Age
0    Ammu     yes   25
1   Bobby      no   30
2  Cherry     yes   22
3   Deepu      no   28

DataFrame after replacing 'yes' and 'no' with True and False:
     Name  Qualify  Age
0    Ammu     True   25
1   Bobby    False   30
2  Cherry     True   22
3   Deepu    False   28

### 12. Write a Pandas program to remove infinite values from a given DataFrame.

In [17]:
import pandas as pd
import numpy as np

data = {'X': [1, 2, 3, np.inf, 5],
        'Y': [6, 7, np.inf, 9, 10],
        'Z': [-np.inf, 12, 13, 14, 15]}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

df.replace([np.inf, -np.inf], np.nan, inplace=True)

df = df.dropna()

print("\nDataFrame after removing infinite values:")
print(df)

Original DataFrame:
     X     Y     Z
0  1.0   6.0  -inf
1  2.0   7.0  12.0
2  3.0   inf  13.0
3  inf   9.0  14.0
4  5.0  10.0  15.0

DataFrame after removing infinite values:
     X     Y     Z
1  2.0   7.0  12.0
4  5.0  10.0  15.0